{% extends 'base.html' %}
{% load user_tag %}
{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
    <div class="content">
        <div class="row m-5">
            <div class="col-md-4">
                <img src="{{ movie.avatar.url }}" alt="{{ movie.title }}" class="avatar">
            </div>
            <div class="col-md-8 p-2 column">
                <div class="row-md-2 mb-4">
                    <h2 class="text-center title"><i>{{ movie.title | title }}</i></h2>
                </div>
                {% if genres %}
                    <div class="row-md-2 mb-3">
                        <h4 class="text-left dark-mode">Genres:
                            <span style="color:seashell;font-size: 24px" class="text-center">
                            {{ genres }}
                        </span>
                        </h4>
                    </div>
                {% endif %}
                <div class="row-md-2 mb-3">
                    <h4 class="text-left dark-mode">Rate:
                        <span style="color:seashell;font-size: 24px" class="text-center">
                            {{ movie.rate|floatformat:2 }}
                        </span>
                    </h4>
                </div>
                <div class="row-md-2">
                    <h4 class="text-left dark-mode">Description:
                        <h5 style="color:seashell;text-indent: 50px;text-align: justify;">
                            {{ movie.get_description | capfirst }}
                        </h5>
                    </h4>
                </div>
                <br>
                <div class="row-md-2">
                    <h4 class="text-left dark-mode">Director:
                        <span style="color:seashell;text-indent: 50px;text-align: justify;">
                            {{ directors | title }}
                        </span>
                    </h4>
                </div>
                <br>
                <div class="row-md-2">
                    <h4 class="text-left dark-mode">Actors:
                        <span style="color:seashell;text-indent: 50px;text-align: justify;">
                            <b>{{ actors }}</b>
                        </span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="row">
            {% for comment in comments %}
                {% if not comment.parent %}
                    <div class="card comment mb-2">
                        <h5 style="text-align: right;margin-right: 20px">
                            <i>{{ comment.user|custom }}</i>
                        </h5>
                        <div>
                            <h6 style="color:currentColor;margin-left: 2%;margin-right: 2%">
                                {{ comment.comment_body | capfirst }}
                            </h6>
                            <h5 style="text-align: right;margin-right: 20px">
                                <i>{{ comment.modified_time }}</i>
                            </h5>
                        </div>


                        <form method="POST" class="form-inline" action="{% url 'movie_comment' movie.id comment.id %}">
                            {% csrf_token %}
                            {% if user.is_authenticated and comment.user == request.user %}
                                <a class="mr-1" style="margin-left: 2%"
                                   href={% url "movie_comment" movie.id comment.id %}>
                                    <button type="submit" class="btn btn-primary mb-2" name="edit" value="edit">Edit
                                    </button>
                                </a>
                                <a href={% url "movie_comment" movie.id comment.id %}>
                                    <button type="submit" class="btn btn-danger mb-2" name="delete" value="delete">
                                        Delete
                                    </button>
                                </a>
                            {% endif %}
                            {% if user.is_authenticated and comment.user != request.user and user.id not in comment.get_user_parent %}
                                <a style="margin-left: 2%" href={% url "movie_comment" movie.id comment.id %}>
                                    <button type="submit" class="btn btn-success mb-2" name="replay" value="replay">
                                        Replay
                                    </button>
                                </a>
                            {% endif %}
                        </form>
                        {% for com in comment.get_parent %}
                            <div class="card comment mb-2">
                                <h5 style="text-align: right;margin-right: 20px">
                                    <i>{{ com.user|custom }}</i>
                                </h5>
                                <div>
                                    <h6 style="color:currentColor;margin-left: 2%;margin-right: 2%">
                                        {{ com.comment_body | capfirst }}
                                    </h6>
                                    <h5 style="text-align: right;margin-right: 20px">
                                        <i>{{ com.modified_time }}</i>
                                    </h5>
                                </div>
                                <form method="POST" class="form-inline"
                                      action="{% url 'movie_comment' movie.id comment.id %}">
                                    {% csrf_token %}
                                    {% if user.is_authenticated and com.user == request.user %}
                                        <a class="mr-1" style="margin-left: 2%"
                                           href={% url "movie_comment" movie.id com.id %}>
                                            <button type="submit" class="btn btn-primary mb-2" name="edit" value="edit">
                                                Edit
                                            </button>
                                        </a>
                                        <a href={% url "movie_comment" movie.id com.id %}>
                                            <button type="submit" class="btn btn-danger mb-2" name="delete"
                                                    value="delete">
                                                Delete
                                            </button>
                                        </a>
                                    {% endif %}
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <a style="text-align: right" href={% url "movie_comment" movie.id 0 %}>
                <button type="submit" class="btn btn-light mb-2">New Comment</button>
            </a>
        {% endif %}
    </div>
{% endblock %}