{% extends 'base.html' %}
{% load static %}
{% load user_tag %}
{% block title %} {{ movie.title }} {% endblock %}

{% block content %}
    <div class="content">
        <div class="row m-5">
            <div class="col-md-4">
                <img
                        {% if movie.avatar %}
                            src="{{ movie.avatar.url }}"
                        {% else %}
                            src={% static "movies/images/default-movie.png" %}
                        {% endif %}
                alt="{{ movie.title }}" class="avatar">
            </div>
            <div class="col-md-8 p-2 column">
                <div class="row-md-2 mb-4">
                    <h2 class="text-center title"><i>{{ movie.title | title }}</i></h2>
                </div>
                {% if genres %}
                    <div class="row-md-2 mb-3">
                        <h4 class="text-left dark-mode">Genres:
                            <span style="color:seashell;font-size: 24px" class="text-center">
                            {{ genres }}
                        </span>
                        </h4>
                    </div>
                {% endif %}
                <div class="row-md-2 mb-3">
                    <h4 class="text-left dark-mode">Rate:
                        <span style="color:seashell;font-size: 24px" class="text-center">
                            {{ movie.average_rating |floatformat:2 }}
                        </span>
                    </h4>
                </div>
                <div class="row-md-2">
                    <h4 class="text-left dark-mode">Description:
                        <h5 style="color:seashell;text-indent: 50px;text-align: justify;">
                            {{ movie.get_description | capfirst }}
                        </h5>
                    </h4>
                </div>
                <br>
                {% if directors %}
                    <div class="row-md-2">
                        <h4 class="text-left dark-mode">Director:
                            <span style="color:seashell;text-indent: 50px;text-align: justify;">
                            {{ directors | title }}
                        </span>
                        </h4>
                    </div>
                    <br>
                {% endif %}
                {% if actors %}
                    <div class="row-md-2">
                        <h4 class="text-left dark-mode">Actors:
                            <span style="color:seashell;text-indent: 50px;text-align: justify;">
                            <b>{{ actors }}</b>
                        </span>
                        </h4>
                    </div>
                {% endif %}
                <div class="mt-5">
                    <a href="{% url "movie_update" movie.id %}">
                        <button type="submit" class="btn btn-primary">
                            Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% for comment in comments %}
                {% if not comment.parent %}
                    {% include "tree_comment.html" %}
                {% endif %}
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <a style="text-align: right" href={% url "movie_comment" movie.id 0 %}>
                <button type="submit" class="btn btn-light mb-2">New Comment</button>
            </a>
        {% endif %}
    </div>
{% endblock %}