{% extends 'base.html' %}
{% block title %} Rating {{ movie.title }} {% endblock %}

{% block content %}
    <div class="content">
        <div class="row m-5">
            {% if not rate.exists %}
                <div class="col-md-4">
                    <img
                            {% if movie.avatar %}
                                src="{{ movie.avatar.url }}"
                            {% else %}
                                src="../../static/movies/images/default-movie.png"
                            {% endif %}
                                alt="{{ movie.title }}" class="avatar">
                </div>
                <div class="col-md-6">
                    <form method="POST" action="{% url "movie_rate" movie.id %}" style="padding: 5%">
                        <div class="form-group row">
                            {% csrf_token %}
                            <label class="col-lg-2" style="color: white;margin: auto">Rating: </label>
                            <select name="rate" class="custom-select col-lg-6">
                                <option selected>Choose...</option>
                                <option name="value1" value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                <option value="4">Four</option>
                                <option value="5">Five</option>
                                <option value="6">Six</option>
                                <option value="7">Seven</option>
                                <option value="8">Eight</option>
                                <option value="9">Nine</option>
                                <option value="10">Ten</option>
                            </select>
                            <div class="col-lg">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <h4 class="text-center" style="color: white">Your Rating: {{ rate.get }}</h4>
                <div class="col-md-4">
                    <img
                            {% if movie.avatar %}
                                src="{{ movie.avatar.url }}"
                            {% else %}
                                src="../../static/movies/images/default-movie.png"
                            {% endif %}
                                alt="{{ movie.title }}" class="avatar">
                </div>
                <div class="col-md-6">
                    <form method="POST" action="{% url "movie_rate" movie.id %}" style="padding: 5%">
                        <div class="form-group row">
                            {% csrf_token %}
                            <h5 class="mb-3" style="color: white">Edit Rating: </h5>
                            <select name="rate" class="custom-select col-lg-6 text-center">
                                <option disabled selected>{{ rate.get }}</option>
                                <option disabled>_________</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                            <div class="col-lg">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}