{% extends 'base.html' %}
{% block title %} comment: {{ movie.title }} {% endblock %}

{% block content %}
    <div class="content">
        <div class="row m-5">
            <div class="col-md-4">
                <img src="{{ movie.avatar.url }}" alt="{{ movie.title }}" class="avatar">
            </div>
            <div class="col-md-6">a
                <div class="error">{{ form.non_field_errors }}</div>
                <form method="POST" action="{% url "movie_comment" movie.id %}" style="padding: 5%">
                    <div class="form-group row">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mb-2" style="color: white">
                                <div class="error">{{ field.errors }}</div>
                                {{ field.label_tag }}
                                <br>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}