{% extends 'base.html' %}
{% block title %} Sign Up {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
	<h1 class="title">Sign Up</h1>
	<div style="color:LightGrey;">
		<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
		</form>
	<!-- when you create the sign-in page, run code below: -->
	<!--	<p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p> -->
	</div>
</div>


{% endblock %}