body {
    background-color: #282828 !important;
}

.dark-mode {
    color: aqua;
}

.avatar {
    width: 100%;
    height: auto;
    padding: 5%;
}

.logo {
    width: 7rem;
    height: 3.5rem;
}

.title {
    color: cornflowerblue;
    text-decoration: none;
}

.title {
    color: yellow;
}

.title:hover {
    color: wheat;
    text-decoration: underline wheat;
}

.col-lg-4 {
    height: inherit;
    width: 30%;
}

.card {
    background-color: aliceblue;
}

.ipc-icon {
    color: #f5c518;
    margin-right: 0.5rem;

}

.ipc-rating-star {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.star {
    margin-left: 7.5%;
    margin-top: auto;
    margin-bottom: auto;
}

.col-lg-3 {
    margin: auto;
}

.col-md-3 {
    margin: auto;
}

.comment {
    width: 100%;
    height: auto;
    padding: 1%;
    background-color: ghostwhite;
}

.error, .errorlist {
    color: red;
}

#id_title {
    width: 75%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.col-6 {
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 0;
}

.active {
    margin-left: 15px;
}

.dropdown {
    margin-left: 20px;
}

.btn-link {
    color: black !important;
}